@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home page";
}

<div class="row" style="text-align: center">

    <div class="col-md-4">
        <div>
            <a href="../Categories/Index"><img src="~/img/categorias.png" /></a>
        </div>
        <span>Cadastro de categorias</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Cliente/Index"><img src="~/img/clientes.png" /></a>
        </div>
        <span>Cadastro de clientes</span>
    </div>
</div>